<div >

<h2>Steps:</h2>
    <div class="list-ctrl" ng-controller="stepListController as stepList">

      <table width="600">
        <tr ng-repeat="step in stepList.steps" >
          <td valign="top" width="10%" >
            <input type="checkbox" ng-model="step.done" style=" width:30px; height: 25px;">
          </td>
          <td valign="top" width="70%">
            <div  style="font-size: 16px; padding: 5px" contenteditable="true" ng-model="step.text">{{step.text}}</div>
          </td>
          <td valign="top" width="20%">
            <button  ng-click="copyText(step.text)" type="button" class="btn btn-default" >Copy</button>
          </td>
        </br/>
        </tr>
      </table>
      <br/>

      <a  class="btn btn-default" href="#/inputArea" ng-click="backButton()" >Back</a>
    </div>
</div>

    <!--
    <ul class="list-unstyled">
      <li ng-repeat="step in stepList.steps" style="width: 300px;height: 40px; position: relative;" >
          <input type="checkbox" ng-model="step.done" style=" width:30px; height: 25px; float: left; ">
          <span  style="float:left; width: 200px; line-height: 2;font-size: 16px;" contenteditable="true" class="done-{{step.done}}" ng-model="step.text">{{step.text}}</span>
          <button style="float:right" ng-click="copyText(step.text)" type="button" class="btn btn-default" >Copy</button>
      </li>
    </ul>
  -->
