<div>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">Menu</span>
        </div>
    </nav>

    <div class="col-xs-2">
        <a href="#/editView" class="btn btn-info pull-left">Create New</a>
    </div>
    <div class="col-xs-8"><input type="text" class="input-full-width" placeholder="Search for Names or Labels"></div>

    <section style="padding-top:50px; width: 530px; margin: auto auto">
      <div class="row">
        <div class="col-xs-6 btn btn-default" >Example checklist
        </div>
        <div>
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
        </div>

      </div>

    </section>

    <section style="padding-top:50px">
      <span>Labels:</span>
    </section>
</div>
